.header,
.header__weather,
.body {
  display: flex;
}

.header {
  gap: 30px;

  &__weather {
    align-items: center;
    flex-direction: column;
  }
}

.body {
  flex-direction: column;
  gap: 10px;
}

.temperature {
  font-size: 22px;
}

.button {
  align-self: flex-start;
}
