.wrapper,
.location {
  display: flex;
  gap: 5px;
}

.wrapper {
  flex-direction: column;
  width: fit-content;
  max-width: 200px;
}

.location {
  font-weight: 700;
}

.date {
  font-size: 14px;
}
