.wrapper,
.weather {
  display: flex;
}

.wrapper {
  position: relative;
  gap: 30px;
}

.weather {
  align-items: center;
  flex-direction: column;
}

.temperature {
  font-size: 22px;
}

.button {
  position: absolute;
  right: 0;
  top: 0;
}
