@import './libs/_normalize';
@import './base/fonts';
@import './base/variables';

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-height: 100%;
  padding: 1rem 0 !important;
  overflow-x: hidden;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex-grow: 1;
}
