@import './libs/_normalize';
@import './base/fonts';
@import './base/variables';
@import 'react-toastify/dist/ReactToastify.css';

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 16px;
  font-family: $font-family-montserrat;
  background-color: $color-white;
  overflow-x: hidden;
}

header,
footer {
  flex-grow: 0;
  flex-shrink: 0;
}

#root,
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
