@import '../../styles/base/variables';

.wrapper,
.header,
.body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  border-radius: 20px;
  overflow: hidden;
  transition: opacity 0.3s ease;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.contained {
  color: $color-white;

  &.primary {
    background-color: $color-primary;
  }

  &.secondary {
    background-color: $color-secondary;
  }
}

.outlined {
  border: 1px solid;

  .primary {
    background-color: $color-primary;
    color: $color-primary;
  }

  .secondary {
    background-color: $color-secondary;
    color: $color-secondary;
  }
}

.header,
.body {
  gap: 10px;
  padding: 1rem;
}

.header {
  border-bottom: 1px solid $color-grey;
}
