@import '../../styles/base/variables';

.wrapper,
.head,
.body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.contained {
  color: $color-white;

  &.primary {
    background-color: $color-primary;
  }

  &.secondary {
    background-color: $color-secondary;
  }
}

.outlined {
  border: 1px solid;

  .primary {
    background-color: $color-primary;
    color: $color-primary;
  }

  .secondary {
    background-color: $color-secondary;
    color: $color-secondary;
  }
}

.head,
.body {
  gap: 10px;
  padding: 1rem;
}

.head {
  border-bottom: 1px solid $color-grey;
}
