.wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 10px 20px;
  border: 1px inset grey;
  border-radius: 10px;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
}
