.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.description {
  text-align: center;
}

.temperature {
  font-size: 22px;

  &_minmax {
    display: flex;
    gap: 5px;
    font-size: 10px;
  }
}
