@import '../../styles/base/variables';

.list {
  display: flex;
  flex-direction: column;
}

.list {
  gap: 10px;
}

.item {
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.message {
  font-style: italic;
}
