@import '../../styles/base/variables';

.wrapper,
.list {
  display: flex;
  flex-direction: column;
}

.wrapper {
  gap: 20px;
  width: 250px;
}

.list {
  gap: 10px;
}

.item {
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}
