@import '../../../styles/base/variables';

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;

  @include tablet {
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include touch-device {
    @include laptop {
      position: relative;
      flex-wrap: nowrap;
      overflow-x: scroll;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.item {
  width: 120px;
  flex-shrink: 0;
  transition: filter 0.3s ease;

  @include hover {
    &:hover {
      filter: brightness(1.1);
    }
  }

  @include laptop {
    width: 100px;
  }
}
