.wrapper,
.content {
  display: flex;
}

.wrapper {
  flex-direction: column;
  gap: 20px;
}

.content {
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  width: 150px;
}
