@import './fonts';

// BREAKPOINTS
$max-container-width: 1220px;

// FONTS
$font-family-montserrat: 'Montserrat', sans-serif;

// COLORS
$color-dark: #111015;
$color-white: #ffffff;
$color-grey: #cccccc;
$color-black--tranparent--100: rgba(0, 0, 0, 0.1);
$color-black--tranparent--200: rgba(0, 0, 0, 0.2);
